*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: sans-serif;
}
body{
    text-transform: uppercase;
    margin:0;
    padding: 0;
}
h1{
    font-size:2.5rem;
}
.page{
    text-align: center;
    width:80%;
    margin:50 px auto;
    border-radius: 5px;
}
h4{
    font-size:1.5rem;
    padding:10px;
}

.gudmrgimage{
    max-width:30em;
    max-height: 20em;
    padding:15px;
    
}

blockquote{
    text-shadow: 1px 1px #000;
    margin: -80px 0 100px 0;
    color: #fff;
}

blockquote:before { content: '"'; }
blockquote:after { content: '"'; }